<% if (title) { %>
    <h1 class="login_page_title"><%= title %></h1>
    <div class="flash-notice">
        <%= messages.notice %>
    </div>
    <% } else {
        res.redirect('/')
    } %>
        
        
    <%- grid %>
