<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">&copy; <%= year %>, CSE 340 App</p>
  <!-- <h5><a href="/views/errors/error.ejs">Error link/404 Page</a></h5> -->
  <h5><a href="/error">Server Error Page</a></h5>

</footer>