<% let d = new Date(); let year = d.getFullYear(); %>

<footer>
  <p class="copyright">&copy; 2023-<%= year %>, CSE 340 App</p>
  <h4><a href="/inv/intentional_error">Intentional Error link</a></h4>
</footer>
