<header id="top-header">
    <span class="siteName">
      <a href="/" title="Return to home page" class="logoText">CSE Motors</a>
    </span>
    <div id="tools">
      <a title="Click to log in" href="/account/login">My Account</a><span id="first_name">,</span>
      <a title="Click to log 0ut" href="/account/logout">Logout</a>
    </div>
  </header>