<!-- <body> -->
  <!-- <main> -->
    <div>
      <h1>Welcome to CSE Motors!</h1>
      <div class="heroContainer">
        <section class="call_To_Action_section">
          <h2>DMC Delorean</h2>
          <p>3 Cup holders Superman doors Fuzzy dice!</p>
          <a href="#">
            <button type="button" class="button">Own Today</button>
          </a>
        </section>
        <div>
          <img src="./images//vehicles/delorean.jpg" alt="Image of a grey delorean" class="homepage_hero_image"
            style="max-width: 600px">
        </div>
        <div class="homegrid">
          <div id="review" class="grid-column_1">
            <h2>DMC Delorean Reviews</h2>
            <ul>
              <li>"So fast it's almost like travelling in time." (4/5)</li>
              <li>"Coolest ride on the road." (4/5)</li>
              <li>"I'm feeling McFly!" (5/5)</li>
              <li>"The most futuristic ride of our day." (4.5/5)</li>
              <li>"80's livin and I love it!" (5/5)</li>
            </ul>
          </div>
        
          <div class="Upgrades-Delorean-Container-grid">
            <div class="grid-column_2">
              <h2>Delorean Upgrades</h2>
            </div>
        
            <div id="add-ons">
              <div class="add-ons_images">
                <a href="#" title="flux-capacitor">
                  <figure>
                    <div>
                      <img src="./images/upgrades/flux-cap.png" alt="Flux-Capacitor">
                    </div>
                    <figcaption>Flux Capacitor</figcaption>
                  </figure>
                </a>
                <a href="#" title="flame decals">
                  <figure>
                    <div>
                      <img src="./images/upgrades/flame.jpg" alt="flame decal">
                    </div>
                    <figcaption>Flame Decals</figcaption>
                  </figure>
                </a>
              </div>
        
              <div class="add-ons_images">
                <a href="#" title="bumper stickers">
                  <figure>
                    <div>
                      <img src="./images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
                    </div>
                    <figcaption>Bumper Stickers</figcaption>
                  </figure>
                </a>
                <a href="#" title="hub caps">
                  <figure>
                    <div>
                      <img src="./images/upgrades/hub-cap.jpg" alt="Hub Caps">
                    </div>
                    <figcaption>Hub Caps</figcaption>
                  </figure>
                </a>
              </div>
            </div>
          </div>
        </div>
        