@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;500&family=Roboto:wght@300&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* larger view  */

nav ul {
  display: flex;
}

main {
  /* background-color: aqua; */
  border: 1px solid aqua; 
}

nav {
  margin-top: .75rem
}

