@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200;500&family=Roboto:wght@300&display=swap');

/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

.call_To_Action_section {
  background-color: #ffffffbf;
  color: #00B3D5;
}

button {
  background-color: #01B0D3;
}

/* larger view  */

nav {
  background-color: black;
  color:white;
  margin-top: .75rem
}

nav ul {
  display: flex;
}

main {
  /* background-color: aqua; */
  border: 1px solid aqua; 
}



