<!-- <%# Unit 3, Assignment 4, Building management page %> -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
        res.redirect('/')
    } %>
        
    <%# messages() %>
        
    <%# grid %>
