<div>
    <h1><%= title %></h1>
    <p><%= message %></p>
    <div>
        <img src="/images/site/404_page.webp" alt="This is a 404 error page showing a broken down robot with the words 'error' and '404'." class="errorPageImage">
    </div>
</div>